
<!--acoount-->
<div id="accountfirst"  type="button" onclick="accountshowDiv()" />
   <p class="text">1. Decide the Type of Bank Account you want to Open <i class="fas fa-caret-down"></i></i></spam>
</div>
<div class="container " id="accountwelcomeDiv">
   <p style="text-align:justify;"> There are several types of bank accounts such as Saving Account, Recurring Account, Fixed Deposit Account and Current Account. So a decision regarding the type of account to be opened must be taken.</p>
</div>
<br>  



<div id="accountsecond"  type="button" onclick="accountshowDiv1()" />
   <p class="text">2. Approach any Bank of choice & meet its Bank Officer  <i class="fas fa-caret-down"></i></spam>
</div>
<div class="container" id="accountwelcomeDiv1">
   <p style="text-align:justify;">Once the type of account is decided, the person should approach a convenient bank. He has to meet the bank officer regarding the opening of the account. The bank officer will provide a proposal form (Account Opening Form) to open bank account.</p>
</div>
<br>



<div id="accountthird"  type="button" onclick="accountshowDiv2()" />
   <p class="text">3. Fill up Bank Account Opening Form - Proposal Form <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="accountwelcomeDiv2">
   <p style="text-align:justify;">The proposal form must be duly filled in all respects. Necessary details regarding name, address, occupation and other details must be filled in wherever required. Two or three specimen signatures are required on the specimen signature card. If the account is opened in joint names, then the form must be signed jointly. Now a days the banks ask the applicant to submit copies of his latest photograph for the purpose of his identification.</p>
</div>
<br> 



<div id="accountforth"  type="button" onclick="accountshowDiv3()" />
   <p class="text">4. Give References for Opening your Bank Account<i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="accountwelcomeDiv3">
   <p style="text-align:justify;">The bank normally required references or introduction of the prospective account holder by any of the existing account holders for that type of account. The introducer introduces by signing his specimen signature in the column meant for the purpose The reference or introduction is required to safeguard the interest of the bank.</p>
</div>
<br>


<div id="accountfifth"  type="button" onclick="accountshowDiv4()" />
   <p class="text">5. Submit Bank Account Opening Form and Documents<i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="accountwelcomeDiv4">
   <p style="text-align:justify;">The duly filled in proposal form must be submitted to the bank along with necessary documents. For e.g. in case of a joint stock company, the application form must accompany with the Board's resolution to open the account. Also certified copies of articles and memorandum of association must be produced.
   </p>
</div>
<br>

<div id="accountsix"  type="button" onclick="accountshowDiv5()" />
   <p class="text">6. Officer will verify your Bank Account Opening Form <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="accountwelcomeDiv5">
   <p style="text-align:justify;">The bank officer verifies the proposal form. He checks whether the form is complete in all respects or not. The accompanying documents are verified. If the officer is satisfied, then he clears the proposal form.
   </p>
</div>
<br>

<div id="accountseven"  type="button" onclick="accountshowDiv6()" />
   <p class="text">7. Deposit initial amount in newly opened Bank Account <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="accountwelcomeDiv6">
   <p style="text-align:justify;">After getting the proposal form cleared, the necessary amount is deposited in the bank. After depositing the initial money, the bank provides a pass book, a cheque book and pay in slip book in the case of savings account. In the case of fixed deposits, a fixed deposit receipt is issued. In the case of current account, a cheque book and a pay in slip book is issued. For recurring account, the pass book and a pay in slip book is issued
   </p>
</div>
<br>

<div id="accounteight"  type="button" onclick="showDiv6()" />
   <p class="text">Location <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="accountwelcomeDiv6">
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.845798805366!2d77.61845746447176!3d13.045485540807459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae176f99e212ed%3A0xfc7892f458ab8ecd!2sANZ!5e0!3m2!1sen!2sin!4v1634491649412!5m2!1sen!2sin" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>




<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.845798805366!2d77.61845746447176!3d13.045485540807459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae176f99e212ed%3A0xfc7892f458ab8ecd!2sANZ!5e0!3m2!1sen!2sin!4v1634491649412!5m2!1sen!2sin" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<iframe width="100%" height="600" style="border-radius:20px;" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=52.70967533219885, -8.020019531250002&amp;q=1%20Grafton%20Street%2C%20Dublin%2C%20Ireland&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br />
<iframe width="100%" height="600" style="border-radius:20px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.845798805366!2d77.61845746447176!3d13.045485540807459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae176f99e212ed%3A0xfc7892f458ab8ecd!2sANZ!5e0!3m2!1sen!2sin!4v1634491649412!5m2!1sen!2sin" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br />




<!--loan-->
<div id="first"  type="button" onclick="showDiv()" />
   <p class="text">Step 1: Determine your requirement. <i class="fas fa-caret-down"></i></i></spam>
</div>
<div class="container " id="welcomeDiv">
   <p style="text-align:justify;"> Figure out why you need a Personal Loan and how much you need. For example, you may need a loan to fund your wedding or to renovate your home. And you may need just Rs. 1 lac or Rs. 10 lac.</p>
</div>
<br>   
<div id="second"  type="button" onclick="showDiv1()" />
   <p class="text">Step 2: Check loan eligibility  <i class="fas fa-caret-down"></i></spam>
</div>
<div class="container" id="welcomeDiv1">
   <p style="text-align:justify;">Once you know how much you need, you should heck whether you are eligible. You can visit the ANZ Bank Personal Loan Eligibility Calculator online, to find out how much you can borrow as Personal Loan. HDFC Bank offers loans up to Rs. 40 lac.</p>
</div>
<br> 
<div id="third"  type="button" onclick="showDiv2()" />
   <p class="text">Step 3: Calculate monthly instalment <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="welcomeDiv2">
   <p style="text-align:justify;">Use an online EMI tool to calculate your approximate loan repayments every month. You can modify the interest rate and tenure to match your monthly income, like on HDFC Bank Personal Loan EMI calculator. Our Bank offers pocket friendly EMIs on all its Personal Loan starting at Rs. 2149 per lac * (T&C).</p>
</div>
<br> 
<div id="forth"  type="button" onclick="showDiv3()" />
   <p class="text">Step 4: Approach the bank <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="welcomeDiv3">
   <p style="text-align:justify;">You can apply for a Personal Loan with HDFC Bank in a variety of ways: Via NetBanking, online on the HDFC Bank website, at an ATM or by visiting a branch..</p>
</div>
<br>
<div id="fifth"  type="button" onclick="showDiv4()" />
   <p class="text">Step 5: Submit documents <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="welcomeDiv4">
   <p style="text-align:justify;">Next find out what documents are required for a Personal Loan. Usually, you will need income proof (bank statements, salary slips or IT returns), address proof and ID proof. Hand over copies of your Personal Loan documents at the bank.
      Wait for funds to be remitted to your account. HDFC Bank disburses funds for pre-approved loans to customers in 10 seconds*, and for non-HDFC Bank customers in 4 hours..
   </p>
</div>


<!--credit-->
<b class='top-head' style="margin-bottom:7px">Process for getting credit card👇 </b><br>
<div id="creditfirst"  type="button" onclick="creditshowDiv()" />
   <p class="text">Step 1: Choose your Credit Card <i class="fas fa-caret-down"></i></i></spam>
</div>
<div class="container " id="creditwelcomeDiv">
   <p style="text-align:justify;"> Each bank offers dozens of Credit Card options. The card you choose will depend on your expected usage and requirements, and the benefits you want– for example, some Credit Cards are great for travellers, some are designed for entertainment, others may be great for business.</p>
</div>
<br>   
<div id="creditsecond"  type="button" onclick="creditshowDiv1()" />
   <p class="text">Step 2: Apply for your card<i class="fas fa-caret-down"></i></spam>
</div>
<div class="container" id="creditwelcomeDiv1">
   <p style="text-align:justify;">Get all your documents ready – a bank will usually ask for identity, address and income proofs. If you are an existing customer that may not be necessary.</p>
</div>
<br> 
<div id="creditthird"  type="button" onclick="creditshowDiv2()" />
   <p class="text">Step 3: Activate your card  <i class="fas fa-caret-down" ></i></spam>
</div>
<div class="container" id="creditwelcomeDiv2">
   <p style="text-align:justify;">After your Credit Card application is approved, it is dispatched to your communication address. You will need to sign for it at the time of delivery and show some identity proof. 

A PIN (personal identity number) is usually couriered to you separately, whereas the Green PIN is sent on your registered mobile number. You will need the PIN to authenticate any transaction you do on your Credit Card. 

Once you get your Credit Card and the PIN in your hands, head to the nearest ATM of your bank to change the PIN. 

Congratulations! You now have a new Credit Card, and you’re ready for your first purchase. Happy shopping! </p>
</div>
<br> 

